<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>コヨーテ(coyote) ONLINE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div id='result_win' style='display:none' title="you're">
      win
    </div>
    <div id='result_lose' style='display:none' title="you're">
      lose
    </div>
    このゲームは２～１０人用となっています。<br/>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span>
      <br/>
      <div id='sec1' style='display:none'>
        <hr/>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/>
      </div>
      <div id='sec2' style='display:none'>
        <h2>Member Rotation</h2>
        <span id='routeList'></span>
        <hr/>
        Your Turn: <span id='yTurn'></span><br/>
        <hr/>
        now Answer:<span id='answernum'></span><br/>
        <h2><span id='coyoteflg'></span></h2><br/>
        Game Cards:<br/>
        <span id='gamecards'></span><br/>
        <hr/>
        <button id="coyote">{{ gettext('btn_coyote') }}</button><br/>
        {{ gettext('txt_explain1') }}<br/>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        <input id="cardNum_inp" placeholder="{{ gettext('txt_inputnumber') }}"><br/>
        <button id="answer">{{ gettext('btn_answer') }}</button><br/>
        {{ gettext('txt_explain2') }}<br/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>

    <script>
    var timeout = 1000;
    var timer = '';

    $(function() {
      var gId = '';
      var cId = '';

      // Create Game
      $('#createGame').click(function() {
        $('#message').empty();
        $.ajax('create' + '/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#gId').text(data);
          $('#cId').text(data);
          $('#cName').text($('#cName_inp').val());
          $('#gStatus').text('waiting');
          gId = data;
          cId = data;
          $('#sec1').show();
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Join Game
      $('#joinGame').click(function() {
        $('#message').empty();
        $.ajax($('#gId_inp').val() + '/join/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          _tmp = data.split(' ,');
          $('#cId').text(_tmp[0]);
          $('#cName').text(_tmp[1]);
          $('#gStatus').text(_tmp[2]);
          gId = $('#gId_inp').val();
          cId = _tmp[0];
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Start Game
      $('#startGame').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/start',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#gamecards').empty();
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // answer
      $('#answer').click(function() {
        $('#message').empty();
        // put your card
        $.ajax(gId + '/' + cId + '/set/' + $('#cardNum_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#message').text(data);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
        $('#cardNum_inp').val('')
      });

      // say to coyote
      $('#coyote').click(function() {
        $('#message').empty();
        // put your card
        $.ajax(gId + '/' + cId + '/coyote',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#message').text(data);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });
    });

    var status_check = function(gId, cId){
      setTimeout(function(){
        $('#message').empty();
        // all status
        $.getJSON(gId + '/status',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data)
          $('#gStatus').text(data.status);
          playerPos = 0;

          $('#applyingList').empty();
          for(var pIdx in data.players){
            // console.log(data.players[pIdx])
            $('#applyingList').append(data.players[pIdx].nickname + '(' + data.players[pIdx].playerid + ')' + ',');
            if(cId == data.players[pIdx].playerid){
              playerPos = pIdx;
            }
          }

          switch(data.status){
            case 'started':
              $('#sec2').show();
              // route List
              $('#routeList').empty();
              $('#gamecards').empty();
              $('#coyoteflg').empty();
              for(var rIdx in data.routelist){
                if(data.routelist[rIdx].playerid == data.routelist[data.routeidx].playerid){
                  $('#routeList').append('<b>&gt;' + data.routelist[rIdx].nickname + '</b><br/>');
                }else{
                  $('#routeList').append(data.routelist[rIdx].nickname + '<br/>');
                }
                // set the game cards
                if(data.routelist[rIdx].playerid == cId){
                  $('#gamecards').append(data.routelist[rIdx].nickname + ': ***<br/>');
                }else{
                  $('#gamecards').append(data.routelist[rIdx].nickname + ': ' + data.cardnames[data.routelist[rIdx].holdcard] + '<br/>');
                }
              }
              $('#answernum').text(data.answer);

              // checking turn
              if(data.routelist[data.routeidx].playerid == cId){
                $('#yTurn').text('your turn')
                $('#sec3').show();
              }else{
                $('#yTurn').text('not your turn')
                $('#sec3').css('display', 'none');
              }
              break;

            case 'end':
              $('#gamecards').empty();
              for(var rIdx in data.routelist){
                $('#gamecards').append(data.routelist[rIdx].nickname + ': ' + data.cardnames[data.routelist[rIdx].holdcard] + '<br/>');
              }
              // console.log(data.players[playerPos].lose)
              // console.log(playerPos)
              if(data.players[playerPos].lose){
                $("#result_lose").dialog();
              }else{
                $("#result_win").dialog();
              }

              // console.log(data.coyote);
              $('#coyoteflg').text('Coyote!!');
              break;
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
        timer = setTimeout(status_check(gId, cId), timeout)
      }, timeout);
    }

    </script>
  </body>
</html>
